RewriteEngine on

RewriteRule ^home$ index.php
RewriteRule ^subscription$ index.php?page=subscription
RewriteRule ^login$ index.php?page=login
RewriteRule ^reset_password$ index.php?page=reset_password
RewriteRule ^user$ index.php?page=user
RewriteRule ^logout$ index.php?page=logout
# RewriteRule ^new_password$ index.php?page=new_password
