RewriteEngine on

RewriteRule ^home$ index.php
RewriteRule ^subscription$ index.php?page=subscription
RewriteRule ^login$ index.php?page=login
RewriteRule ^reset_password$ index.php?page=reset_password
RewriteRule ^user$ index.php?page=user
RewriteRule ^logout$ ./logout.php
# RewriteRule ^new_password/([a-z0-9]+)$ index.php?page=new_password&token=$1
# index.php?page=new_password&token={$this->getToken()}
